<!DOCTYPE html>
<html>
  <head>
    <title>Building Blocks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Building Blocks</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
            <li><a href="/signout">Sign Out</a></li>
            <% } else { %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <% }%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Welcome</h1>
      <div class="container">
        <% if (accountType === "student") { %>
          <p class="lead">Hello <%= user.name %>!</p>
          <a href="/students/courses" class="btn btn-default" role="button">View all courses</a>
        <% } else if (accountType === "professor") { %>    
          <p class="lead">Hello <%= user.name %>! You are located at <%= user.office %>.</p>
          <a href="/professors/courses" class="btn btn-default" role="button">View all courses</a>
        <% } else { %>
        <p class="lead">Please log in or sign up to view courses and create your schedule.</p>
        <% } %>  
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
