.myError {
  color: red;
}

input[type=text], input[type=password] {
  width: 500px;
  height: 50px;
  border-radius: 7px;
  font-size: 24px;
  padding-left: 7px;
}

ul.nav li a, ul.nav li a:visited {
    color: #000 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #000 !important;
}

ul.nav li.active a {
    color: #000 !important;
}